
@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

@keyframes movingBackground{
    from { background-position: 0px 0px; } 
	to { background-position: 1400px -1400px; }
}

@keyframes change2{
    0%{
        background-position: 0 50%;
    }
    25%{
        background-position: -50% 50%;
    }
    50%{
        background-position: 0 -50%;
    }
    75%{
        background-position: -50% -50%;
    }
    100%{
        background-position: 0 50%;
    }
}
@-webkit-keyframes moveX {
    from { background-position-x: 0; } to { background-position-x: 480px; }
  }
  @-moz-keyframes moveX {
    from { background-position-x: 0; } to { background-position-x: 480px; }
  }
  @-o-keyframes moveX {
    from { background-position-x: 0; } to { background-position-x: 480px; }
  }
  @keyframes moveX {
    from { background-position-x: 0; } to { background-position-x: 480px; }
  }
  @-webkit-keyframes moveY {
    from { background-position-y: 0; } to { background-position-y: 280px; }
  }
  @-moz-keyframes moveY {
    from {background-position-y: 0; } to { background-position-y: 280px; }
  }
  @-o-keyframes moveY {
    from { background-position-y: 0; } to { background-position-y: 280px; }
  }
  @keyframes moveY {
    from { background-position-y: 0; } to {background-position-y: 280px; }
  }


body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-primary-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius:4px;

    margin:0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 100%;
    height: 100vh;
    color: rgb(0, 0, 0);
   /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%; */
    background-image: url(../media/Website_Images/hammer_pat.svg);
    
    
    position: relative;
    /*animation: change 5s ease-in-out infinite;
    */
    
   /* animation: movingBackground 10s linear infinite;
    */
   /* animation: change2 5s linear infinite;
   */
   -webkit-animation: moveX 4.05s linear 0s infinite alternate, moveY 4.4s linear 0s infinite alternate;
   -moz-animation: moveX 4.05s linear 0s infinite alternate, moveY 4.4s linear 0s infinite alternate;
   -o-animation: moveX 4.05s linear 0s infinite alternate, moveY 4.4s linear 0s infinite alternate;
   animation: moveX 4.05s linear 0s infinite alternate, moveY 4.4s linear 0s infinite alternate;

}



.container{
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    background: #ffffff;
}

.container,
.form__input,
.form__button{ font: 500 1rem 'Quicksand', sans-serif;
}

.form--hidden{
    display: none;
}

.form>*:first-child{
    margin-top:0;
}

.form>*:last-child{
    margin-top:0;
}

.form__title{
    margin-bottom: 2rem;
    text-align: center;
}

.form__message{
    text-align:center;
    margin-bottom: 1rem;

}

.form__message--success{
   color: var(--color-success);
    
    
}

.form__message--error {
    color: var(--color-error);
     
     
 }

 .form__input-group{
     margin-bottom: 1rem;
 }
 .form_input-group span i{
    color:seagreen;
}

 .form__input{
     display: block;
     width: 100%;
     padding: 0.75rem;
     box-sizing: border-box;
     border-radius: var(--border-radius);
     border: 1px solid #dddddd;
     outline: none;
     background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;


 }

 .form__input:focus{
     border-color: var(--color-primary);
     background: #ffffff;
 }

 .form__input--error{
     color: var(--color-error);
     border-color: var(--color-error);
 }

 .form__input-error-message{
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color:var(--color-error);
 }

 .form__button{
     width: 100%;
     padding: 1rem 2rem;
     margin-top: 5px;
     font-weight: bold;
     font-size: 1.1rem;
     color: #ffffff;
     border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);

 }

 .form__button:hover{
     background: var(--color-primary-dark) ;
 }

 .form__button:active{
     transform: scale(0.98);

 }

 .form__text{
     text-align: center;
 }

 .form__link{
     color: var(--color-primary-secondary);
     text-decoration: none;
     cursor:pointer;
 }

 .form__link:hover{
     text-decoration: underline;
 }

 .form_input span{
     position:absolute;
     bottom: 12px;
     right: 17px;
 }
 