body {
  height: 100%;
  background-color: #81c784;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#user-portal-buttons {
  display: flex;
  justify-content: space-around;
}

#tile {
    margin-left: auto;
    margin-right: auto;
    min-width: 235px;
    max-width: 500px;
}

.input-field {
    margin-top: 0;
    margin-bottom: 0;
}

.row {
  margin-bottom: 10px;
}

/* Utility */
.text-center {
  text-align: center;
}

/* For JS content triggers */
.turn-off {
  display: none;
}

.turn-on {
  display: flex;
}
